.container h2 {
  color: $main-color;
  font-weight: 500;
}

.container .inputBox {
  position: relative;
  width: 100%;
}

.container .inputBox input {
  position: relative;
  width: 100%;
  background: $main-color;
  border: none;
  outline: none;
  padding: 10px;
  color: $accessory-color;
  font-size: 1.1em;
}

.container .strengthMeter {
  position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background: $main-color;
}

.container .strengthMeter::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  transition: 1000ms;
}

.container.weak .strengthMeter::before {
  width: 33.33%;
  background: $weak;
  filter: drop-shadow(0 0 1px $weak) drop-shadow(0 0 2px $weak) drop-shadow(0 0 4px $weak);
}

.container.medium .strengthMeter::before {
  width: 66.66%;
  background: $medium;
  filter: drop-shadow(0 0 1px $medium) drop-shadow(0 0 2px $medium) drop-shadow(0 0 4px $medium);
}

.container.strong .strengthMeter::before {
  width: 100%;
  background: $strong;
  filter: drop-shadow(0 0 1px $strong) drop-shadow(0 0 2px $strong) drop-shadow(0 0 4px $strong);
}

.container .strengthMeter::after {
  position: absolute;
  top: -45px;
  left: 30px;
  color: $accessory-color;
  transition: 1000ms;
}

.container.weak .strengthMeter::after {
  content: 'Your Password Is Weak';
  color: $weak;
  filter: drop-shadow(0 0 4px $weak);
}

.container.medium .strengthMeter::after {
  content: 'Your Password Is Medium';
  color: $medium;
  filter: drop-shadow(0 0 4px $medium);
}

.container.strong .strengthMeter::after {
  content: 'Your Password Is Strong';
  color: $strong;
  filter: drop-shadow(0 0 4px $strong);
}

.show {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: $background-color;
  border: 6px solid $main-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show::before {
  content: 'Show';
  font-size: 0.6em;
  color: $accessory-color;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.show.hide::before {
  content: 'Hide';
}