$main-color: #212121;
$accessory-color: #ffffff;
$hover-color: #2196f3;
$buttons-hover-color: #188ce8;
$contacts-color: #757575;
$background-color: #2f303a;
$logo-color: #000000;
$adress-color: rgba(255, 255, 255, 0.6);
$social-media-color: #afb1b8;
$footer-social-color: rgba(255, 255, 255, 0.1);
$icon-background: #f5f4fa;
$image-overlay-color: rgba(47, 48, 58, 0.8);
$product-overlay-background: rgba(33, 150, 243, 0.9);
$form-input-color: rgba(255, 255, 255, 0.6);

$main-font: "Poppins", sans-serif;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
